@use "_variables";

@mixin mobile {
  @media (max-width: variables.$mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

// pin-spacer element 가로 크기 문제
