@use "_variables" as *;
@use "_mixins";

* {
  padding: 0;
  margin: 0;
  color: #333;
  line-height: 1.6;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

img {
  width: 100%;
}

// color 칼라 컬러
.primary-color {
  color: $primary-color;
}

// area
.flex-area {
  display: flex;
  gap: 40px;
}

// 마진
.mt-0 {
  margin-top: 0 !important;
}
